.page {
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 32px 0;
  width: 100%;
}

.page__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.page__title {
  box-sizing: border-box;
  color: $lightestFontColor;
  font-family: 'Exo 2.0', Helvetica, Arial, sans-Serif;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 21px;
  padding: 0 16px;
  text-align: center;
  width: 100%;
}
